.venue-card{
    background:#fff;

    border-radius:16px;

    overflow:hidden;

    box-shadow:0 8px 24px rgba(0,0,0,.08);

    transition:.25s;

    display:flex;

    flex-direction:column;
}

.venue-card:hover{
    transform:translateY(-6px);

    box-shadow:0 16px 40px rgba(0,0,0,.15);
}

.venue-image{

    width:100%;

    height:220px;

    overflow:hidden;
}

.venue-thumbnail{

    width:100%;

    height:100%;

    object-fit:cover;
}

.no-image{

    width:100%;

    height:100%;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#f3f4f6;

    color:#6b7280;
}

.venue-content{

    padding:22px;

    display:flex;

    flex-direction:column;

    flex:1;
}

.venue-name{

    margin:0;

    font-size:30px;

    color:#111827;
}

.venue-city{

    margin-top:12px;

    color:#6b7280;

    font-size:18px;
}

.venue-category{

    margin-top:8px;

    color:#6b7280;

    font-size:17px;

    text-transform:capitalize;
}

.venue-content hr{

    margin:20px 0;

    border:none;

    border-top:1px solid #e5e7eb;
}

.venue-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.venue-bottom h3{

    margin:0;

    font-size:28px;
}

.venue-bottom span{

    color:#6b7280;
}

.venue-price{

    font-size:34px;

    font-weight:bold;

    color:#16a34a;
}

.view-btn{

    margin-top:auto;

    width:100%;

    padding:15px;

    background:#f26d5b;

    color:white;

    border:none;

    border-radius:10px;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;
}

.view-btn:hover{

    background:#e75a46;
}